﻿@model IEnumerable<BankersBankDataGrid.DataModels.Account>

<html>
<head>
    <title>Banker's Bank Data Grid</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="data-grid">
        <div class="row-header">
            <div class="col">Account Number</div>
            <div class="col">Current Balance</div>
            <div class="col">Last Name/Company Name</div>
            <div class="col">First Name</div>
            <div class="col">Middle Initial</div>
            <div class="col">Account Type</div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row-data">
                <div class="col">@item.AccountNumber</div>
                <div class="col">@item.CurrentBalance</div>
                <div class="col">@item.LastNameOrCompanyName</div>
                <div class="col">@item.FirstName</div>
                <div class="col">@item.MiddleName</div>
                <div class="col">@item.AccountType</div>
            </div>
        }
    </div>
</body>
</html>