﻿body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.data-grid{
    margin-top: 20px;
    border: 1px solid black;
}

.row-header{
    display: flex;
    background-color: lightgray;
    font-weight: bold;
}

.row-data{
    display: flex;
}

.col{
    flex: 1;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}